.experience__container {
    display: block;
}

.timeline {
    background-color: var(--container-color);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.timeline__item {
    display: block;
    margin-bottom: 1.875rem; /* Adding some space between items */
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__title {
    font-size: var(--h3-font-size);
    margin: 0.5rem 0;
    text-align: center;
}

.timeline__subtitle {
    text-align: center;
}

.timeline__text {
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    border-top: 2px solid black;
    line-height: 1.5rem;
    list-style-position: inside;
    font-size: 1rem; /* Setting a specific font size */
}

.timeline__text > li {
    padding: 0.2rem 0;
}
